#reloj {
  margin-top: 30px;
  img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
  }
  .segundos {
    width: 250px;
    height: 3px;
    background-image: linear-gradient(to right, #fff, red);
    border-radius: 10px;
    position: absolute;
    top: 49.5%;
    left: 49.5%;
    animation-name: clock;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forwards;
    animation-fill-mode: forwards; // it allows the animation to keep the last style once completed
    animation-play-state: running;
    transform-origin: left;
  }
  .minutos {
    width: 190px;
    height: 8px;
    position: absolute;
    background-image: linear-gradient(to right, #fff, coral);
    top: 49%;
    left: 49.4%;
    border-radius: 10px;
    animation-name: clock;
    animation-duration: 3600s;
    animation-direction: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-fill-mode: forwards;
    transform-origin: left;
  }
  .hora {
    width: 140px;
    height: 8px;
    background-image: linear-gradient(to right, #fff, #000);
    border-radius: 10px;
    position: absolute;
    top: 37%;
    left: 44%;
    animation-name: clock;
    animation-duration: 43200s;
  }
  .circulo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dbdbdb;
    position: absolute;
    top: 47.5%;
    left: 47.8%;
  }
}

@keyframes clock {
  0% {
    transform: rotate(-90deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

a {
  text-decoration: none;
  button {
    display: block;
    margin: 30px auto;
  }
}
